* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Roboto";
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: #fffffe;
}

/* Utilitários */

.btn {
  padding: 1.2rem 3.2rem;
  border-radius: 0.5rem;

  border: 0;

  font-weight: 700;
  text-transform: uppercase;

  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.primary {
  background-color: #6246ea;
  color: #fff;
}

.secondary {
  background-color: #fff;
  color: #6246ea;
}

.input {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  width: 348px;
  padding: 1.2rem 0.8rem 1.2rem 1.4rem;

  border-radius: 0.5rem;

  background-color: #f4f4ff;
}

/* Tags */
i {
  color: #e45858;
  font-size: 2.4rem;
}

h1 {
  color: #121214;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;
}

h2 {
  color: #121214;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 140%;
}

h3 {
  color: #121214;
  font-weight: 700;
  font-size: 2rem;
  line-height: 140%;
}

p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  line-height: 160%;
}

header {
  position: relative;
  overflow: hidden;

  text-align: center;

  background-color: #f8f8ff;

  /* max-height: 53.2rem; */
  margin: auto;
}

main {
  margin: 10rem auto;
  max-width: 121.6rem;
  padding: 0 5rem;
}

input,
select {
  all: unset;
  background-color: #f4f4ff;
  width: 100%;
  text-align: left;
  color: #7c7c8a;
}

/* Classes e IDs*/
header .first-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  width: 40.7rem;
  height: 34.5rem;
}

header .second-image {
  position: absolute;
  right: 0;
  bottom: -0.12rem;
  z-index: 0;

  width: 41.4rem;
  height: 33rem;
}

.content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 10rem 2rem;
  gap: 4rem;
  margin: auto;

  width: fit-content;

  z-index: 1;
}

.content .text-header {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;

  max-width: 647px;
  padding: 0 1rem;

  z-index: 1;
}

.content strong {
  color: #e45858;
}

.content span {
  color: #6246ea;
}

.content form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 2.4rem;
  padding: 4rem;

  background-color: #fff;

  border: 1px solid #eaeaea;
  border-radius: 1rem;

  z-index: 1;
}

.content .location-input {
  position: relative;
  z-index: 1;
}

.content .location-input .ph-caret-down {
  position: absolute;
  right: 0.8rem;
  z-index: 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header div {
  border: 1px solid #eaeaea;
  border-radius: 0.6rem;

  padding: 0.8rem;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.2rem;

  margin-top: 4rem;
}

#cards .card {
  max-width: 38.4rem;

  border: 1px solid #eaeaea;
  border-radius: 1rem;
}

#cards .card img {
  width: 100%;
  height: 15.3rem;

  border-radius: 1rem 1rem 0 0;
}

#cards .card .card-info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 1.6rem;
}

#cards .card .card-info p {
  max-width: 50ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
}

#cards .card .card-info .location {
  display: flex;
  gap: 0.8rem;
}

@media (max-width: 1024px) {
  :root {
    font-size: 50%;
  }

  form {
    flex-direction: column;
  }

  #main .main-header {
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  #main .main-header {
    flex-direction: column;
  }
}
